<h2>{{title}}</h2>
<p>Create a new hero and press enter to add it to the list. </p>
<label for="hero-name">New hero name: </label>
<input type="text" #box
       id="hero-name"
       (keyup.enter)="addHero(box.value); box.value=''"
       placeholder="hero name">
<div>
  <input id="can-fly" type="checkbox" [(ngModel)]="canFly">
  <label for="can-fly">Hero can fly</label>
</div>
<div>
<input id="mutate" type="checkbox" [(ngModel)]="mutate">
<label for="mutate">Mutate array</label>
<button (click)="reset()">Reset list of heroes</button>
</div>

<h3>Heroes who fly (piped)</h3>
<div id="flyers">
  <div *ngFor="let hero of (heroes | flyingHeroes)">
    {{hero.name}}
  </div>
</div>

<h3>All Heroes (no pipe)</h3>
<div id="all">
  <div *ngFor="let hero of heroes">
    {{hero.name}}
  </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->